@media only screen and (min-width: 1805px){
	.hero .hero-image{
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
	}

	.hero .g2g-hero{
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
	}

	#projectHeader h1{
		font-size: 2.7em;
		margin-bottom: 20px
	}

	#projectHeader h2{
		font-size: 1.8em;
	}

	#projectHeader h3{
		font-size: 1.8em;
		top:10%;
	}

	#projectHeader h4{
		font-size: .9em;
		top: 49.25em;
	}

	#projectHeader{
		top: 10%;
	}

	.po-container h2{
		font-size: 1.4em;
	}

	.po-container p{
		font-size: 1.2em;
	}

	.span-logo{
		width: 120px;
	}

	.resume-intro h1{
		font-size: 2.7em;
	}

	.resume-intro h2{
		font-size: 2em;
	}

	.resume-intro p{
		font-size: 1.2em;
	}

	.ed-cert h3{
		font-size: 1.5em;
	}

	.ed-cert h5{
		font-size: 1.3em;
	}

	.ed-cert p{
		font-size:1.2em;
	}

	.process-skills h3{
		font-size: 1.5em;
	}

	.process-skills h5{
		font-size: 1.3em;
	}

	.process-skills p{
		font-size: 1.2em;
	}

	.client-experience h3{ 
		font-size: 1.5em;
	 }

	 .client-experience h5{
	 	font-size: 1.5em;
	 }
}


@media only screen and (max-width: 1599px) {
	 /* body{background-color: #800000;}   /* Red */
	 #projectHeader h1{
	 	font-size: 2.5em;
	 	margin-bottom: 20px
	 }

	 #projectHeader h3{
	 	font-size: 2em;
	 	top:10%;
	 }

	 #projectHeader h4{
	 	letter-spacing: .15em;
	 	font-size: .75em;
	 	top: 52em;
	 }

 	.client-list>div {
	width: 100%;
	}


	.client-list {
		margin: 20px auto;
	}

	.client-logo {
		width: 100px;
	}
}




/* SMALL SCREENS */
@media only screen and (max-width: 1280px) {
	/* {background-color: #f00;} /* RED*/

	[class*='col-']{
	float: left;
	}

	.col:first-child { margin-left: 0px; }

	.group:before,
	.group:after { content:""; display:table; }
	.group:after { clear:both;}
	.group { zoom:1; /* For IE 6/7 */ }

	.span-1-3{
		width: 33.33%;
		margin-bottom: -5px;
	}

	footer .copyright{
		float: right;
		color: #405CB1;
	}

	#projectHeader h1{
		font-size: 2em;
	}

	#projectHeader h3{
		font-size: 1.8em;
		/*top: 5%;*/
	}

	#projectHeader h4{
		top: 47em;
		font-size: .75em;
		letter-spacing: .15em ;
	}

	.credits .span-credits {
		font-size: 1em;
	}

	.span-logo{
		width: 110px;
	}

}

/* TABLETS ON PORTRAITS */
@media only screen and (max-width: 1120px) {	
	/* body{background-color: #ffcc00} /*YELLOW*/

	[class*='col-']{
	float: left;
	}

	.col:first-child { margin-left: 0px; }

	.group:before,
	.group:after { content:""; display:table; }
	.group:after { clear:both;}
	.group { zoom:1; /* For IE 6/7 */ }

	.span-1-3{
		width: 33.33%;
		margin-bottom: -5px;
	}

	#projectHeader h1{
		font-size: 4em;
	}

	#projectHeader h3{
		font-size: 2em;
		top: 17%;
	}

	#projectHeader h4{
		font-size: .7em;
		top: 60%;
	}

	.ed-cert h3{
		margin-bottom: 0px;
	}

	footer .copyright{
		float: right;
		color: #405CB1;
	}

	.credits .span-credits {
		font-size: 1em;
	}

	.span-logo{
		width: 110px;
	}

	.client-list>div {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	}


	.client-list {
		margin: 0px;
	}

	.client-logo {
		width: 100px;
	}
}

/* Small Tablets*/
@media only screen and (max-width: 860px) {
	 /* body{background-color: #2aff00} /*Bright Green*/

	[class*='col-']{
	float: left;
	}

	.col:first-child { margin-left: 0px; }

	.group:before,
	.group:after { content:""; display:table; }
	.group:after { clear:both;}
	.group { zoom:1; /* For IE 6/7 */ }

	.span-1-3{
		width: 50%;
		margin-bottom: -5px;
	}

	footer .copyright{
		float: right;
		color: #405CB1;
	}

	.hero .hero-image{
	width: 100%;
	
	}

	#projectHeader {
		height: 400px;
		top: 12%;
	
	}

	#projectHeader h1{
		font-size: 2em;
	}

	#projectHeader h2{
		top: 8%;
	}

	#projectHeader h3{
		font-size: 1.5em;
		top: 1.3em;
	}

	#projectHeader h4{
		font-size: .75em;
		top: 24em;
	}

	.credits .span-credits {
		font-size: 1em;
	}

	.span-logo{
		width: 100px;
	}

	.client-list>div {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	}


	.client-list {
		margin: 0px;
	}

	.client-logo {
		width: 100px;
	}

	video{
		max-width: 680px;
	}

	.skillzHeader{
		margin-left: 10px;
		margin-right: 10px;
	}

	.aboutSplit{
		margin-left: 10px;
		margin-right: 10px;
	}

	.photo_res {
		background-image: none;
		height: auto;
	}

	.ibm_res{
		background-image: none;
		min-height: auto;
		height: 520px;
	}

	.create_digital_res{
		background-image: none;
		min-height: auto;
		height: 400px;
	}

	.acoustical_solutions_res{
		background-image: none;
		min-height: auto;
		height: 400px;
	}

	.afton_chemical_res{
		background-image: none;
		min-height: auto;
		height: 400px;
	}

	.education_res{
		background-image: none;
		min-height: auto;
		height: 400px;
		
	}

	.cert_res{
		background-image: none;
		min-height: initial;
		height: 400px;
	}

	.skills_res{
		background-image: none;
		min-height: initial;
		height: 540px;
	}



	.ibm_res:before{
		content: url(resumeLogos/mobile/ibm_logo_sm.png);
 		width: 220px;
 		left: 77.5px;
 		top: 50px;
		position: absolute;
	}

	.create_digital_res:before{
		content: url(resumeLogos/mobile/create_logo_sm.png);
		width: 220px;
		left: 77.5px;
		top: 50px;
		position: absolute;

	}

	.acoustical_solutions_res:before{
		content: url(resumeLogos/mobile/as_logo_sm.png);
		width: 220px;
		left: 77.5px;
		top: 50px;
		position: absolute;
	}

	.afton_chemical_res:before{
		content: url(resumeLogos/mobile/afton_chem_sm.png);
		width: 220px;
		left: 77.5px;
		top: 50px;
		position: absolute;
	}

	.education_res:before{
		content: url(resumeLogos/mobile/ed_logo_sm.png);
		width: 220px;
		left: 77.5px;
		top: 50px;
		position: absolute;
		top: 0;
	}

	.cert_res:before{
		content: url(resumeLogos/mobile/cert_logo_sm.png);
		width: 220px;
		left: 77.5px;
		top: 50px;
		position: absolute;
	}

	.skills_res:before{
		content: url(resumeLogos/mobile/skills_logo_sm.png);
		width: 220px;
		left: 77.5px;
		top: 50px;
		position: absolute;
	} 

	.res_list .span_ed{
		display: block;
		width: 40%;
		margin: 40px auto;
		align-items: center;
		margin-top: -35px;
	}

	.span_ed h5{
		white-space: normal;
	}

	.span_skills h5{
		white-space: normal;
	}

	.ed_res_logo{
		display: block;
		width: 150px;
		margin-right: auto;
		margin-left: auto;
	}



}


/* ipad Landscape  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { 
	/*body{background-color: #FF1493;} /* Pink */

	footer .copyright{
		float: right;
	}

	.hero .hero-image{
	width: 100%;
	
	}

	#projectHeader{
		height: 600px;
	
	}

	#projectHeader h1{
		font-size: 2em;
		top: 5%;
	}

	#projectHeader h3{
		font-size: 1.5em;
		top: 10%;
	}

	#projectHeader h4{
		font-size: .75em;
		top: 35.5em;
	}

	.client-list>div {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}


	.client-list {
		margin: 0px;
	}

	.client-logo {
		width: 100px;
	}

	video{
		max-width: 900px;
	}

	.skillzHeader{
		margin-left: 10px;
		margin-right: 10px;
	}

	.aboutSplit{
		margin-left: 10px;
		margin-right: 10px;
	}

	#projectHeader h2{
		top: 10%;
	}



}



/* Smartphones*/
@media only screen and (max-width: 640px) {
	/* body{background-color: #0026ff;} /* BLUE */

	.span-1-3{
		width: 100%;
		margin-bottom: -5px;
	}

	.copyright{
		text-align: center;
		color: #405CB1;
		margin-right: 0px;
	}

	.hero .hero-image{
	width: 100%;

	}

	#projectHeader {
		
	}

	#projectHeader h1{
		font-size: 1em;
		white-space: nowrap;
	}

	#projectHeader h3{
		font-size: 1em;
		white-space: nowrap;
	}

	#projectHeader h4{
		font-size: .5em;
		top: 35%;
		letter-spacing: .05em;
		position: absolute;
		transform: translate(-50%, -50%);
	}

	.span-credits li{
		font-size: 14px;
		margin-bottom: 4px;
	}

	.span-credits h3{
		font-size: 16px;
		margin-bottom: 10px;
	}

	.span-logo{
		width: 80px;
	}

	.resume-intro{
		width: 95%;
		margin-left: 5px;
		margin-right: 5px;
		padding-right: 0px;
		padding-left: 0px;
	}

	.resume-intro h1{
		color:#0c223f;
	}

	.resume-intro h2{
		color: #2b3b44;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	.resume-intro p{
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 1.1em;
		margin-top: 5px;
		font-weight: 350;
		color: #292e37;
	}

	.ed-cert { 
		width: 100%;
		text-align: left;
		margin-left: 10px;
	}

	.ec-item h3{
		color: #2b3b44;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	.ec-item h5{
		color: #325C74;
		margin-top: 5px;
	}

	.ec-item p{
		font-size: 1.01em;
	}

	.process-skills {
		margin-left: 10px;
	}

	.span-ps h3{
		color: #2b3b44;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	.span-ps p{
		font-size: 1.01em;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.experience h3{
		margin-bottom: 0px;
	}

	.experience h5{
		margin-top: 5px;
		color: #325C74;
	}

	.experience p{
		font-size: 1.01em;
	}

	.client-experience {
		margin-left: 10px;
	}

	.client-experience h3{
		color: #2b3b44;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	.client-experience h5{
		font-size: 1em;
		font-weight: 400;
		color: #325C74;
		margin-top: 5px;
	}

	.client-list>div {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}


	.client-list {
		margin: 0px;
	}

	.client-logo {
		width: 55px;
	}

	#top{
		content: '';
		margin-bottom: 20%;
	}





}

 /*  iPhone Landscape  */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2){
	/*body{background-color: #405cb1;} /* BlueViolet */

	#projectHeader{
		top: 25%;
		height: 400px;
	}

	.hero .hero-image{
		width: 100%;
	}

	#projectHeader h1{
		font size: 1.5em;
	}

	#projectHeader h3{
		font-size: 1.5em;
	}

	#projectHeader h4{
		font-size: .5em;
	}

	.client-list>div {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	video{
		max-width: 580px;
	}

	.wm-con #munich{
		left: 50.125%;
 		top: 149.452%;
 	}

 	.wm-con #den{
 		left: 26.2344;
 		top: 150.909%;
 	}

 	.wm-con #rva{
 		left: 31.885%;
 		top: 151.3%;
 	}

 	.wm-con #atl{
 		left: 31%;
 		top: 152%;
 	}
 	.wm-con #chs{
 		display: none;
 	}

 	.wm-con #cur{
 		left: 34.1054%;
 		top: 155%;
 	}

 	.wm-con #ma-pi{
 		left: 33.55%;
 		top: 158.5%;
 	}

 	.wm-con #sa-uyuni{
 		left: 34.45%;
 		top: 159.5%;
 	}

 	.wm-con #mendoza{
 		left: 34.25%;
 		top: 160.9%;
 	}

 	.wm-con #buenos-aires{
 		left: 36.25%;
 		top: 161.5%;
 	}


 	#res_exp .photo_res {
 		background-attachment: scroll;
		position: relative;
		height:auto;
	}


	#res_exp .ibm_res{
		background-color: #fff;
		min-height: 0PX ;
		background-size: auto;
		height: 300px;
		}

	#res_exp .create_digital_res{
		background-image: none;
		min-height: auto;
		height: 280px;
	}

	#res_exp .acoustical_solutions_res{
		background-image: none;
		min-height: auto;
		height: 280px;
	}

	#res_exp .afton_chemical_res{
		background-image: none;
		min-height: auto;
		height: 280px;
	}

	.education_res{
		background-image: none;
		min-height: auto;
		height: 280px;
		
	}

	.cert_res{
		background-image: none;
		min-height: initial;
		height: 260px;
	}

	.skills_res{
		background-image: none;
		min-height: initial;
		height: 477px;
	}



	.experience_content{
		font-family: 'IBM Plex Sans', sans-serif;
		position: absolute;
		width: 40%;
		left: 50%;
		top: 0;
		padding: 2% 0;
	}

	.experience_content h2{
		text-transform: uppercase;
		color: #2b3b44;
		font-weight: 600;
		font-size: 1em;
		margin-top: 0px;
		margin-bottom: 15px;

	}

	.experience_content h3{
	  text-transform: uppercase;
	  color: #2b3b44;
	  font-weight: 600;
	  font-size: 1em;
	  margin-bottom: 0px;
	}

	.experience_content h5{
	  color: #325C74;
	  font-size: 1em;
	  font-weight: 400;
	  margin-top: 0px;
	  margin-bottom: 0px;
	}

	.experience_content h5 span{
	  color: #2b3b44;
	  font-weight: 300;
	}

	.experience_content p{
		color: #325c74;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1em;
		font-weight: 300;
	}

	.resume_intro{
		font-family: 'IBM Plex Sans', sans-serif;
		width: 90%;
		margin: 0 auto;
	}

	.resume_intro h1{
		color:#0c223f;
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		margin-top: -15px;
	}

	.resume_intro h2{
		color: #2b3b44;
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: 400;
		font-size: 1em;
		margin-bottom: 0px;
		text-align: center;
		text-transform: uppercase;
		margin-top: -15px;
	}

	.resume_intro p{
		color: #325C74;
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 1em;
		text-align: center;
		margin-top: 0px;
		font-weight: 300;
		padding-left: 40px;
		padding-right: 40px;
	}


	.resume_intro p span{
		font-family:'IBM Plex Sans', sans-serif;
		color: #fff;
		font-weight: 800;
	}

	.resume_intro h5{
		font-family: 'IBM Plex Sans', sans-serif;
		font-weight: 400;
		font-size: 1em;
		text-align: center;
		margin-top: -10px;
	}

	.res_list>div{
		font-family:'IBM Plex Sans', sans-serif;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow:wrap;
		-ms-flex-flow:wrap;
		flex-flow: wrap;
		width: 50%;
		left: 40%;
		position: absolute;
		max-width: 333px;
		margin: auto;
	}

	.span_ed h5{
		color: #325C74;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		white-space: normal;
		padding: auto auto;
	}

	.span_ed p{
		color: #325c74;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1em;
		font-weight: 300;
		text-align: center;
	}

	.ed_res_logo{
		display: block;
		width: 125px;
		margin-right: auto;
		margin-left: auto;
	}

	.res_list .span_ed{
		display: block;
		width: 40%;
		margin: 0px auto;
		align-items: center;
	}

	.res_list .span_cert{
		display: block;
		width: 33%;
		margin: 0px auto;
		align-items: center;
	}

	.res_list .span_skills{
		font-family:'IBM Plex Sans', sans-serif;
		display: block;
		width: 50%;
		margin-top: 0px;
		text-align: left;
	}

	.footer_columns>div{
		font-family:'IBM Plex Sans', sans-serif;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow:wrap;
		-ms-flex-flow:wrap;
		flex-flow: wrap;
		width: 100%;
		left: 0;
		max-width:1020px;
		margin: auto;
	}

	.footer_columns .footer_section{
		font-family:'IBM Plex Sans', sans-serif;
		width: 16.66%;
		margin: auto;
		text-align: center;
	}

	.span_cert h5{
		color: #325C74;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		white-space: normal;
		padding: auto auto;
	}

	.span_cert p{
		color: #325c74;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1em;
		font-weight: 300;
		text-align: center;
	}

	.span_skills h5{
		color: #325C74;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0px;
		margin-bottom: 30px;
		letter-spacing: 1px;
		text-align: center;
		white-space: normal;
		padding: auto auto;
	}

	.span_skills h5 span{
		font-family:'IBM Plex Sans', sans-serif;
	 	color: #2b3b44;
	 	font-weight: 300;
	 	text-align: center;
	}




}


 /*  iPhone Portrait  */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	/* body{background-color: #006400;} /* DarkGreen*/

	#footer{
		width: 100%;
		left: 0px;
	}

	.welcome-mat h1{
	font-family:'IBM Plex Sans', sans-serif;	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	margin-top: -15px;
	}

	.hero .hero-image{
	width: 100%;
	}

	#projectHeader h1{
	top: 2%;
	font-size: 1.3em;
	}

	#projectHeader h2{
		top: 8%;
		font-size: 1.1em;
	}

	#projectHeader h3{
		font-size: 1.2em;
		top: 8%;
	}

	#projectHeader h4{
		top: 35%;
		font-size: .5em;
	}

	#logo img{
		margin-top: .25em;
		margin-bottom: .5em;
		width: 40px;
		height: 40px;
		padding-top: 0px;
		padding-bottom: 0px;
		float: left;
		margin-left: 0px;
	}

	.resume-intro{
		width: 95%;
		margin-left: 5px;
		margin-right: 5px;
		padding-right: 0px;
		padding-left: 0px;
	}

	.resume-intro h1{
		color:#0c223f;
	}

	.resume-intro h2{
		color: #2b3b44;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	.resume-intro p{
		font-family:'IBM Plex Sans', sans-serif;
		font-size: 1.1em;
		margin-top: 5px;
		font-weight: 350;
	}

	.ed-cert { 
		width: 100%;
		text-align: left;
		margin-left: 10px;
	}

	.ec-item h3{
		color: #2b3b44;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	.ec-item h5{
		color: #325C74;
		margin-top: 5px;
	}

	.ec-item p{
		font-size: 1.01em;
	}

	.process-skills {
		margin-left: 10px;
	}

	.span-ps h3{
		color: #2b3b44;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	.span-ps p{
		font-size: 1.01em;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.experience h3{
		margin-bottom: 0px;
	}

	.experience h5{
		margin-top: 5px;
		color: #325C74;
	}

	.experience p{
		font-size: 1.01em;
	}

	.client-experience {
		margin-left: 10px;
	}

	.client-experience h3{
		color: #2b3b44;
		text-transform: uppercase;
		margin-bottom: 0px;
	}

	.client-experience h5{
		font-size: 1em;
		font-weight: 400;
		color: #325C74;
		margin-top: 5px;
	}

	.client-list>div {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.client-logo {
		width: 55px;
	}

	video{
		max-width: 320px;
	}

	.skillzHeader{
		width: 95%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.wm-con #munich{
		left: 50.125%;
 		top: 149.452%;
 	}

 	.wm-con #den{
 		left: 26.2344;
 		top: 150.909%;
 	}

 	.wm-con #rva{
 		left: 31.885%;
 		top: 151.3%;
 	}

 	.wm-con #atl{
 		left: 31%;
 		top: 152%;
 	}
 	.wm-con #chs{
 		display: none;
 	}

 	.wm-con #cur{
 		left: 34.1054%;
 		top: 155%;
 	}

 	.wm-con #ma-pi{
 		left: 33.55%;
 		top: 158.5%;
 	}

 	.wm-con #sa-uyuni{
 		left: 34.45%;
 		top: 159.5%;
 	}

 	.wm-con #mendoza{
 		left: 34.25%;
 		top: 160.9%;
 	}

 	.wm-con #buenos-aires{
 		left: 36.25%;
 		top: 161.5%;
 	}

 	#res_intro{
 		top: 5%;
 	}

 	.photo_res {
		background-attachment: scroll;
		position: relative;
		height:auto;
	}

	.experience_content{
		font-family:'IBM Plex Sans', sans-serif;
		position: absolute;
		width: 40%;
		left: 50%;
		margin-top: 40px;
		padding: 2% 0;
	}

	.experience_content h2{
		text-transform: uppercase;
		color: #2b3b44;
		font-weight: 600;
		font-size: 1em;
		margin-top: 0px;
		margin-bottom: 15px;

	}

	.experience_content h3{
		text-transform: uppercase;
		color: #2b3b44;
		font-weight: 600;
		font-size: 1em;
		margin-bottom: 0px;
	}

	.experience_content h5{
		color: #325C74;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.experience_content h5 span{
		color: #2b3b44;
		font-weight: 300;
	}

	.experience_content p{
		color: #325c74;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1em;
		font-weight: 300;
	}

	.res_list>div{
		font-family:'IBM Plex Sans', sans-serif;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow:wrap;
		-ms-flex-flow:wrap;
		flex-flow: wrap;
		width: 50%;
		left: 40%;
		position: absolute;
		max-width: 333px;
		margin: 0px auto;
	}

	.span_ed h5{
		color: #325C74;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		white-space: normal;
		padding: auto auto;
	}

	.span_ed p{
		color: #325c74;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1em;
		font-weight: 300;
		text-align: center;
	}

	.ed_res_logo{
		display: block;
		width: 125px;
		margin-right: auto;
		margin-left: auto;
	}

	.res_list .span_ed{
		display: block;
		width: 40%;
		margin: 0px auto;
		align-items: center;
	}

	.res_list .span_cert{
		display: block;
		width: 33%;
		margin: 0px auto;
		align-items: center;
		top: 40px;
		position: relative;
	}


	.res_list .span_skills{
		font-family:'IBM Plex Sans', sans-serif;
		display: block;
		width: 50%;
		margin-top: 0px;
		text-align: left;
		top: 55px;
		position: relative;
	}

	.footer_columns>div{
		font-family:'IBM Plex Sans', sans-serif;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow:wrap;
		-ms-flex-flow:wrap;
		flex-flow: wrap;
		width: 100%;
		left: 0;
		max-width:1020px;
		margin: auto;
	}

	.footer_columns .footer_section{
		font-family:'IBM Plex Sans', sans-serif;
		width: 16.66%;
		margin: auto;
		text-align: center;
	}

	.photo_res {
		background-image: none;
		height: auto;
	}

	.ibm_res{
		background-image: none;
		min-height: auto;
		height: 580px;
	}

	.create_digital_res{
		background-image: none;
		min-height: auto;
		height: 480px;
	}

	.acoustical_solutions_res{
		background-image: none;
		min-height: auto;
		height: 480px;
	}

	.afton_chemical_res{
		background-image: none;
		min-height: auto;
		height: 480px;
	}

	.education_res{
		background-image: none;
		min-height: auto;
		height: 480px;
		
	}

	.cert_res{
		background-image: none;
		min-height: initial;
		height: 460px;
	}

	.skills_res{
		background-image: none;
		min-height: initial;
		height: 677px;
	}


	.ibm_res:before{
		content: url(resumeLogos/mobile/ibm_logo_sm.png);
 		width: 220px;
 		left: 77.5px;
		position: absolute;
	}

	.create_digital_res:before{
		content: url(resumeLogos/mobile/create_logo_sm.png);
		width: 220px;
		left: 77.5px;
		position: absolute;

	}

	.acoustical_solutions_res:before{
		content: url(resumeLogos/mobile/as_logo_sm.png);
		width: 220px;
		left: 77.5px;
		position: absolute;
	}

	.afton_chemical_res:before{
		content: url(resumeLogos/mobile/afton_chem_sm.png);
		width: 220px;
		left: 77.5px;
		position: absolute;
	}

	.education_res:before{
		content: url(resumeLogos/mobile/ed_logo_sm.png);
		width: 220px;
		left: 77.5px;
		position: absolute;
		top: 0;
	}

	.cert_res:before{
		content: url(resumeLogos/mobile/cert_logo_sm.png);
		width: 220px;
		left: 77.5px;
		position: absolute;
	}

	.skills_res:before{
		content: url(resumeLogos/mobile/skills_logo_sm.png);
		width: 220px;
		left: 77.5px;
		position: absolute;
	}


	.experience_content{
		font-family:'IBM Plex Sans', sans-serif;
		position: absolute;
		width: 355px;
		left: 10px;
		top: 240px;
		padding: 2% 0;
	}

	.experience_content h2{
		text-transform: uppercase;
		color: #2b3b44;
		font-weight: 600;
		font-size: 1em;
		margin-top: 0px;
		margin-bottom: 15px;

	}

	.experience_content h3{
	  text-transform: uppercase;
	  color: #2b3b44;
	  font-weight: 600;
	  font-size: 1em;
	  margin-bottom: 0px;
	}

	.experience_content h5{
	  color: #325C74;
	  font-size: 1em;
	  font-weight: 400;
	  margin-top: 0px;
	  margin-bottom: 0px;
	}

	.experience_content h5 span{
	  color: #2b3b44;
	  font-weight: 300;
	}

	.experience_content p{
		color: #325c74;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1em;
		font-weight: 300;
	}

	.resume_intro{
		font-family:'IBM Plex Sans', sans-serif;
		width: 90%;
		margin: 0 auto;
	}

	.resume_intro h1{
		color:#0c223f;
		font-family:'IBM Plex Sans', sans-serif;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		margin-top: -15px;
	}

	.resume_intro h2{
		color: #2b3b44;
		font-family:'IBM Plex Sans', sans-serif;
		font-weight: 400;
		font-size: 1em;
		margin-bottom: 0px;
		text-align: center;
		text-transform: uppercase;
		margin-top: -15px;
	}

	.resume_intro p{
		color: #325C74;
		font-family:'IBM Plex Sans', sans-serif;
		font-size: 1em;
		text-align: center;
		margin-top: 0px;
		font-weight: 300;
		padding-left: 40px;
		padding-right: 40px;
	}


	.resume_intro p span{
		font-family:'IBM Plex Sans', sans-serif;
		font-size: 1em;
		color: #fff;
		font-weight: 800;
	}

	.resume_intro h5{
		font-family:'IBM Plex Sans', sans-serif;
		font-weight: 400;
		font-size: 1em;
		text-align: center;
		margin-top: -10px;
	}

	.res_list>div{
		font-family:'IBM Plex Sans', sans-serif;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow:wrap;
		-ms-flex-flow:wrap;
		flex-flow: wrap;
		width: 80%;
		left: 10%;
		position: absolute;
		max-width: 333px;
		margin: 230px auto;
	}

	.span_ed h5{
		color: #325C74;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		white-space: normal;
		padding: auto auto;
	}

	.span_ed p{
		color: #325c74;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1em;
		font-weight: 300;
		text-align: center;
	}

	.ed_res_logo{
		display: block;
		width: 125px;
		margin-right: auto;
		margin-left: auto;
	}

	.res_list .span_ed{
		display: block;
		width: 40%;
		margin: 0px auto;
		align-items: center;
	}

	.res_list .span_cert{
		display: block;
		width: 33%;
		margin: 0px auto;
		align-items: center;
	}

	.res_list .span_skills{
		font-family:'IBM Plex Sans', sans-serif;
		display: block;
		width: 50%;
		margin-top: 0px;
		text-align: left;
	}

	.footer_columns>div{
		font-family:'IBM Plex Sans', sans-serif;
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-flex-flow:wrap;
		-ms-flex-flow:wrap;
		flex-flow: wrap;
		width: 100%;
		left: 0;
		max-width:1020px;
		margin: auto;
	}

	.footer_columns .footer_section{
		font-family:'IBM Plex Sans';
		width: 16.66%;
		margin: auto;
		text-align: center;
	}

	nav.page-navigation li{
		margin: 10px auto;
	}

	nav.page-navigation a {
		color: #325C74;
		font-size: 12px;
		font-weight: 400;
		text-decoration: none;
		text-align: center;
		text-decoration: none;
		margin: auto auto;
	    padding: 0 auto;
	    width: 80%;
	}

	nav.page-navigation .current a{
	    color: #405cb1;
	    font-weight: 600;
	    letter-spacing: 1px;
	}

	.span_cert h5{
		color: #325C74;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		white-space: normal;
		padding: auto auto;
	}

	.span_cert p{
		color: #325c74;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1em;
		font-weight: 300;
		text-align: center;
	}

	.span_skills h5{
		color: #325C74;
		font-size: 1em;
		font-weight: 400;
		margin-top: 0px;
		margin-bottom: 10px;
		letter-spacing: 1px;
		text-align: center;
		white-space: normal;
		padding: auto auto;
	}

	.span_skills h5 span{
		font-family:'IBM Plex Sans';
	 	color: #2b3b44;
	 	font-weight: 300;
	 	text-align: center;
	}

	#res_clients{
		margin-bottom: 20%;
	}

	#res_ed{
		margin-top: 40px;
	}

	#res_footer{
		min-height: 50px;
	}

}



